@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;

  @media screen and (min-width: 1200px) {
    scroll-padding-top: 81px;
  };  
};

body {
  font-family: var(--font-family-primary);
  color: var(--color-text-black);
  font-size: 12px;
};

.no-scroll {
  overflow: hidden;
};

section {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
};

a,
button {
  cursor: url('../images/icons/ice-cream-scoon.svg'), auto;
};