<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__close-btn button" type="submit" data-modal-close>
      <svg class="modal__close-icon" width="20" height="20">
        <use href="./images/icons/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>

    <include src="./partials/modals/buyNowModal.html"></include>
    <include src="./partials/modals/productIceCreamModal.html"></include>
    <include src="./partials/modals/productIceCoffeeModal.html"></include>
    <include src="./partials/modals/productMilkshakesModal.html"></include>
    <include src="./partials/modals/readMoreModal.html"></include>
    <include src="./partials/modals/locationsModal.html"></include>
    <include src="./partials/modals/franchiseModal.html"></include>
  </div>
</div>
