<div class="modal-container" data-modal-open-target="js-franchise-btn">
  <h3 class="modal-container__title">
    Thank you for your interest in owning an Ice Cream shop
  </h3>

  <p class="modal-container__text">
    Due to the overwhelming volume of franchise requests we are not accepting
    new franchisee applications at this time. Once the application process
    resumes, we will contact you for further information. Please fill out the
    contact information below and we will reach out for additional information.
    We appreciate your patience.
  </p>

  <form class="contact-form">
    <ul class="contact-form__list list">
      <li class="contact-form__list-item">
        <label class="contact-form__label">
          <span class="contact-form__label-text">Name</span>
          <span class="contact-form__input-wrapper">
            <input class="contact-form__input" type="text" name="user_name" />
            <svg class="contact-form__input-icon" width="18" height="18">
              <use href="./images/icons/sprite.svg#person"></use>
            </svg>
          </span>
        </label>
      </li>

      <li class="contact-form__list-item">
        <label class="contact-form__label">
          <span class="contact-form__label-text">Phone</span>
          <span class="contact-form__input-wrapper">
            <input class="contact-form__input" type="tel" name="user_phone" />
            <svg class="contact-form__input-icon" width="18" height="18">
              <use href="./images/icons/sprite.svg#handset"></use>
            </svg>
          </span>
        </label>
      </li>

      <li class="contact-form__list-item">
        <label class="contact-form__label">
          <span class="contact-form__label-text">Email</span>
          <span class="contact-form__input-wrapper">
            <input class="contact-form__input" type="email" name="user_email" />
            <svg class="contact-form__input-icon" width="18" height="18">
              <use href="./images/icons/sprite.svg#email"></use>
            </svg>
          </span>
        </label>
      </li>

      <li class="contact-form__list-item">
        <label class="contact-form__label">
          <span class="contact-form__label-text">Comment</span>
          <textarea
            class="contact-form__message"
            name="user_comment"
            placeholder="Enter text"
          ></textarea>
        </label>
      </li>
    </ul>

    <button class="contact-form__submit-btn button" type="submit">
      Submit
    </button>
  </form>
</div>
