<div
  class="modal-container locations"
  data-modal-open-target="js-locations-btn"
>
  <h3 class="modal-container__title">Our Locations</h3>

  <div class="locations-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26402.262982914097!2d-73.9764253136209!3d40.66574998679073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b9e1735b38f%3A0xb5fe454b88e9c2c0!2zNzI2IFN0ZXJsaW5nIFBsLCBCcm9va2x5biwgTlkgMTEyMTYsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1690400546641!5m2!1sru!2sua"
      height="200"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      rel="noreferrer noopener"
    ></iframe>
  </div>

  <a class="open-map-btn link" href="https://goo.gl/maps/ovw2FmBVKYyMR1xM7">
    Open map
  </a>
</div>
