<div class="modal-container" data-modal-open-target="js-read-more-btn">
  <h3 class="modal-container__title">How it’s made?</h3>

  <div class="videoplayer">
    <iframe
      width="224"
      height="200"
      src="https://www.youtube-nocookie.com/embed/LhDS2-PNiBE?controls=0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>

  <p class="modal-container__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
