:root {
  --font-family-primary: 'Montserrat', sans-serif;
  --font-family-heading: 'Seymour One', sans-serif;

  --bg-color-primary: #84A178;
  --bg-color-secondary: #FCFCFC;

  --color-first-accent-primary: #AEC6A5;
  --color-first-accent-secondary: #9CBE8F;
  --color-second-accent-primary: #EFD478;
  --color-second-accent-secondary: #F8D24E;
  --color-third-accent-primary: #D6936D;
  --color-third-accent-secondary: #D5753F;
  
  --color-text-black: #131313;
  --color-text-white: #FCFCFC;
  --color-text-grey: #ABABAB;
  --color-text-dark-grey: #7A7A7A;

  --color-btn-hover-focus: #0A8817;
  --color-btn-disabled: #ABABAB;

  --color-pagination-bullet: #D9D9D9;
  --color-pagination-bullet-active: #84A178;

  --color-border: #E1E1E1;

  --drop-shadow-cards: drop-shadow(4px 4px 4px #00000040);

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
};