:root {
  --font-family-primary: 'Montserrat', sans-serif;
  --font-family-heading: 'Seymour One', sans-serif;

  --bg-color-primary: #84A178;

  --color-first-accent-primary: #AEC6A5;
  --color-first-accent-secondary: #9CBE8F;
  --color-second-accent-primary: #EFD478;
  --color-second-accent-secondary: #F8D24E;
  --color-third-accent-primary: #D6936D;
  --color-third-accent-secondary: #D5753F;
    
  --color-text-black: #131313;
  --color-text-white: #FCFCFC;

  --color-btn-hover-focus: #0A8817;
  --color-btn-disabled: #ABABAB;

  --duration: 1250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
};