<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>

    <ul class="advantages__list list">
      <li class="advantages__item">
        <div class="advantages__item-icon advantages__icon-1"></div>
        <p class="advantages__item-name">721</p>
        <p class="advantages__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__item-icon advantages__icon-2"></div>
        <p class="advantages__item-name">16kg</p>
        <p class="advantages__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__item-icon advantages__icon-3"></div>
        <p class="advantages__item-name">84</p>
        <p class="advantages__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
