<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>

    <ul class="contacts__list list">
      <li class="contacts__item">
        <div class="location">
          <div class="location__main-info">
            <p class="location__name">CAFE</p>
            <p class="location__city">Chicago</p>
            <address class="location__address">
              <a
                class="location__address-link link"
                href="https://goo.gl/maps/tMeA7M8ufHfo8JPeA"
                target="_blank"
              >
                10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
              </a>
            </address>
          </div>

          <div class="location__work-schedule">
            <div class="location__work-schedule-wrapper">
              <ul class="location__weekdays list">
                <li class="location__day">Monday - Friday</li>
                <li class="location__time">06:00 AM - 10:00 PM</li>
              </ul>

              <ul class="location__weekends list">
                <li class="location__day">Saturday - Sunday</li>
                <li class="location__time">08:00 AM - 16:00 PM</li>
              </ul>
            </div>
          </div>

          <div class="location__contacts">
            <a class="location__phone link" href="tel:+380664982327">
              +380(66) 498 23 27
            </a>

            <a class="location__email link" href="mailto:ybelebekha@gmail.com">
              ybelebekha@gmail.com
            </a>
          </div>
        </div>
      </li>

      <li class="contacts__item">
        <div class="location">
          <div class="location__main-info">
            <p class="location__name">FOODTRUCK</p>
            <p class="location__city">Los Angeles</p>
            <address class="location__address">
              <a
                class="location__address-link link"
                href="https://goo.gl/maps/uTp7EN7w8LPEwAPw9"
                target="_blank"
              >
                1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
              </a>
            </address>
          </div>

          <div class="location__work-schedule">
            <div class="location__work-schedule-wrapper">
              <ul class="location__weekdays list">
                <li class="location__day">Monday - Friday</li>
                <li class="location__time">06:00 AM - 10:00 PM</li>
              </ul>

              <ul class="location__weekends list">
                <li class="location__day">Saturday - Sunday</li>
                <li class="location__time">08:00 AM - 16:00 PM</li>
              </ul>
            </div>
          </div>

          <div class="location__contacts">
            <a class="location__phone link" href="tel:+380664982327">
              +380(66) 498 23 27
            </a>

            <a class="location__email link" href="mailto:ybelebekha@gmail.com">
              ybelebekha@gmail.com
            </a>
          </div>
        </div>
      </li>

      <li class="contacts__item">
        <div class="location">
          <div class="location__main-info">
            <p class="location__name">CAFE</p>
            <p class="location__city">New York</p>
            <address class="location__address">
              <a
                class="location__address-link link"
                href="https://goo.gl/maps/cekfHJRkRr1Z6XAF8"
                target="_blank"
              >
                726 Sterling Pl, Brooklyn, NY 11216, USA
              </a>
            </address>
          </div>

          <div class="location__work-schedule">
            <div class="location__work-schedule-wrapper">
              <ul class="location__weekdays list">
                <li class="location__day">Monday - Friday</li>
                <li class="location__time">06:00 AM - 10:00 PM</li>
              </ul>

              <ul class="location__weekends list">
                <li class="location__day">Saturday - Sunday</li>
                <li class="location__time">08:00 AM - 16:00 PM</li>
              </ul>
            </div>
          </div>

          <div class="location__contacts">
            <a class="location__phone link" href="tel:+380664982327">
              +380(66) 498 23 27
            </a>

            <a class="location__email link" href="mailto:ybelebekha@gmail.com">
              ybelebekha@gmail.com
            </a>
          </div>
        </div>
      </li>
    </ul>

    <div class="contacts__btns-box">
      <button
        class="location-btn"
        type="button"
        data-modal-open-path="js-locations-btn"
      >
        Our Locations
        <svg class="location-btn__icon" width="12" height="12">
          <use href="./images/icons/sprite.svg#icon-short-arrow-right"></use>
        </svg>
      </button>

      <button
        class="franchise-btn"
        type="button"
        data-modal-open-path="js-franchise-btn"
      >
        Franchise
        <svg class="franchise-btn__icon" width="12" height="12">
          <use href="./images/icons/sprite.svg#icon-short-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
