<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">
      ice cream made with
      <span>passion</span>
    </h1>

    <ul class="stats list">
      <li class="stats__item">
        <p class="stats__item-value">16</p>
        <p class="stats__item-caption">cafes</p>
      </li>
      <li class="stats__item">
        <p class="stats__item-value">23</p>
        <p class="stats__item-caption">food trucks</p>
      </li>
    </ul>

    <div class="btns-box">
      <button
        class="products-btn"
        type="button"
        onClick="location.href='#products'"
      >
        Products
      </button>

      <button class="about-btn" type="button" onClick="location.href='#about'">
        How it’s made?
      </button>
    </div>

    <div class="description">
      <p class="description__text">
        Indulge in a scoop of ice cream made with passion and treat your taste
        buds to an unforgettable experience!
      </p>
      <button class="more-text-btn">
        <svg class="description__icon" width="40" height="16">
          <use
            href="./images/icons/sprite.svg#icon-arrow-direction-right"
          ></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="hero-bg">
    <div class="hero-bg__dots">
      <picture>
        <source
          srcset="
            ./images/hero/desktop/hero-bg-dots-desktop.png    1x,
            ./images/hero/desktop/hero-bg-dots-desktop@2x.png 2x,
            ./images/hero/desktop/hero-bg-dots-desktop@3x.png 3x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/tablet/hero-bg-dots-tablet.png    1x,
            ./images/hero/tablet/hero-bg-dots-tablet@2x.png 2x,
            ./images/hero/tablet/hero-bg-dots-tablet@3x.png 3x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/mobile/hero-bg-dots-mobile-330.png    1x,
            ./images/hero/mobile/hero-bg-dots-mobile-330@2x.png 2x,
            ./images/hero/mobile/hero-bg-dots-mobile-330@3x.png 3x
          "
          media="(min-width: 480px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/mobile/hero-bg-dots-mobile-320.png    1x,
            ./images/hero/mobile/hero-bg-dots-mobile-320@2x.png 2x,
            ./images/hero/mobile/hero-bg-dots-mobile-320@3x.png 3x
          "
          media="(max-width: 479px)"
          type="image/png"
        />
        <img
          src="./images/hero/mobile/hero-bg-dots-mobile-320.png"
          alt="Yellow dots"
          loading="lazy"
        />
      </picture>
    </div>

    <div class="hero-bg__ice-cream">
      <picture>
        <source
          srcset="
            ./images/hero/desktop/hero-bg-ice-cream-desktop.png    1x,
            ./images/hero/desktop/hero-bg-ice-cream-desktop@2x.png 2x,
            ./images/hero/desktop/hero-bg-ice-cream-desktop@3x.png 3x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/tablet/hero-bg-ice-cream-tablet.png    1x,
            ./images/hero/tablet/hero-bg-ice-cream-tablet@2x.png 2x,
            ./images/hero/tablet/hero-bg-ice-cream-tablet@3x.png 3x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/mobile/hero-bg-ice-cream-mobile-218.png    1x,
            ./images/hero/mobile/hero-bg-ice-cream-mobile-218@2x.png 2x,
            ./images/hero/mobile/hero-bg-ice-cream-mobile-218@3x.png 3x
          "
          media="(min-width: 480px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/mobile/hero-bg-ice-cream-mobile-177.png    1x,
            ./images/hero/mobile/hero-bg-ice-cream-mobile-177@2x.png 2x,
            ./images/hero/mobile/hero-bg-ice-cream-mobile-177@3x.png 3x
          "
          media="(max-width: 479px)"
          type="image/png"
        />
        <img
          src="./images/hero/mobile/hero-bg-ice-cream-mobile-177.png"
          alt="Ice cream with happy smiles"
          loading="lazy"
        />
      </picture>
    </div>

    <div class="hero-bg__plate">
      <picture>
        <source
          srcset="
            ./images/hero/desktop/hero-bg-plate-desktop.png    1x,
            ./images/hero/desktop/hero-bg-plate-desktop@2x.png 2x,
            ./images/hero/desktop/hero-bg-plate-desktop@3x.png 3x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/tablet/hero-bg-plate-tablet.png    1x,
            ./images/hero/tablet/hero-bg-plate-tablet@2x.png 2x,
            ./images/hero/tablet/hero-bg-plate-tablet@3x.png 3x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <img
          src="./images/hero/tablet/hero-bg-plate-tablet.png"
          alt="Ice cream plate"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
