<section class="hero">
  <div class="container">
    <h1 class="hero__title">
      ice cream made with
      <span>passion</span>
    </h1>

    <div class="btns-box">
      <button
        class="products-btn"
        type="button"
        onClick="location.href='#products'"
      >
        Products
      </button>

      <button class="about-btn" type="button" onClick="location.href='#about'">
        How it’s made?
      </button>
    </div>

    <div class="hero__bg-image">
      <picture>
        <source
          srcset="
            ./images/hero/desktop/hero-bg-ice-cream-desktop.png    1x,
            ./images/hero/desktop/hero-bg-ice-cream-desktop@2x.png 2x,
            ./images/hero/desktop/hero-bg-ice-cream-desktop@3x.png 3x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/tablet/hero-bg-ice-cream-tablet.png    1x,
            ./images/hero/tablet/hero-bg-ice-cream-tablet@2x.png 2x,
            ./images/hero/tablet/hero-bg-ice-cream-tablet@3x.png 3x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/mobile/hero-bg-ice-cream-mobile-218.png    1x,
            ./images/hero/mobile/hero-bg-ice-cream-mobile-218@2x.png 2x,
            ./images/hero/mobile/hero-bg-ice-cream-mobile-218@3x.png 3x
          "
          media="(min-width: 480px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/mobile/hero-bg-ice-cream-mobile-177.png    1x,
            ./images/hero/mobile/hero-bg-ice-cream-mobile-177@2x.png 2x,
            ./images/hero/mobile/hero-bg-ice-cream-mobile-177@3x.png 3x
          "
          media="(max-width: 479px)"
          type="image/png"
        />
        <img
          src="./images/hero/mobile/hero-bg-ice-cream-mobile-177.png"
          alt="Ice cream with happy smiles"
        />
      </picture>
    </div>
  </div>
</section>
