.about-btn {
  @include font(600, 12px, 15px, 0em);
  color: var(--color-second-accent-secondary);
  text-decoration: underline;

  &:hover {
    color: var(--color-btn-hover-focus);
  };

  &:focus {
    color: var(--color-text-white);
  };

  &:disabled {
    color: var(--color-btn-disabled);
  };
};