.buy-now-btn {
  padding: 12px 36px;
  
  background-color: var(--color-second-accent-secondary);
  border-radius: 10px;
  
  color: var(--color-text-black);
  @include font(600, 14px, 18px, 0em);
  
  transition: background-color var(--duration) var(--timing-function),
  color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--color-btn-hover-focus);         
  };

  &:focus {        
    color: var(--color-text-white);   
  };

  &__icon {
    transform: translateY(2);
    fill: currentColor;

    &:hover &,
    &:focus & {
      fill: currentColor;
    };
  };

  &:disabled {        
    background-color: var(--color-btn-disabled);
  }; 
};