.products-btn {  
  margin-right: 12px;
  padding: 11px 26px;

  border: 2px solid var(--color-second-accent-secondary);
  border-radius: 8px;

  @include font(600, 12px, 15px, 0em);
  
  transition: border-color var(--duration) var(--timing-function),
              color        var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    border-color: var(--color-btn-hover-focus);
  };

  &:focus {
    color: var(--color-text-white);
  };

  @media screen and (min-width: 1200px) {
    padding: 12px 34px;
    @include font(600, 14px, 18px, 0em);
  };
};