.header {
  background-color: var(--bg-color-primary);

  @media screen and (min-width: 1200px) {
    position: sticky;
    top: 0;    
    border-bottom: 1px solid var(--color-first-accent-primary);
    z-index: 999;
  };
};

.header__container {
  @include align(flex, space-between, center);
};

.menu-nav__list,
.buy-now-btn {
  display: none;
};

@media screen and (min-width: 768px) {  
  .header {
    &__btns {
      display: flex;
      gap: 32px;
    };
  };
  
  .buy-now-btn {
    display: block;
  };
};

@media screen and (min-width: 1200px) {
  .menu-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;

    &__list {
      display: flex;
    };

    &__item:not(:last-child) {
      margin-right: 28px;
    };

    &__link {
      padding-top: 12px;
      padding-bottom: 12px;

      @include font(700, 16px, 20px, 0em);
      color: var(--color-text-white);
      
      transition: color var(--duration) var(--timing-function);

      &:hover,
      &:focus {
        color: var(--color-second-accent-secondary);
      };
    };
  };
};