.header {
  background-color: var(--bg-color-primary);
};

.header__container {
  @include align(flex, space-between, center);
};

.menu-nav__list,
.buy-now-btn {
  display: none;
};

@media screen and (min-width: 768px) {  
  .header {
    &__btns {
      display: flex;
      gap: 32px;
    };
  };
  
  .buy-now-btn {
    display: block;
  };
};