.hero {  
  position: relative;
  min-height: 440px;
  padding-top: 38px;
  padding-bottom: 0;

  background-color: var(--bg-color-primary);  
  background-repeat: no-repeat;
  background-position: bottom;  

  &__title {
    max-width: 247px;
    min-height: 97px;
    margin-bottom: 32px;

    font-family: var(--font-family-heading);
    @include font(500, 26px, 31px, 0.04em);
    color: var(--color-text-white);
    text-transform: uppercase;

    & > span {
      @include font(500, 34px, 33px, 0em);
    };
  };
};

.hero-bg {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 320px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  &__dots,
  &__ice-cream {
    position: absolute;    
    bottom: 0;    
  };

  &__ice-cream {
    padding-left: 20px;    
  };
};

@media screen and (max-width: 767px) {
  .hero-bg__plate {
    display: none;
  };
};

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {    
    min-height: 343px;
    padding-top: 28px;
  };  

  .hero-bg {
    width: 480px;
    justify-content: right;

    &__ice-cream {
      padding-left: 0;   
      right: 20px; 
    };
  };  
};

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hero {
    min-height: 336px;
    padding-top: 0;

    &__title {
      margin-bottom: 24px;
    };    
  };

  .hero-bg {
    width: 768px;

    &__plate {
      position: absolute;
      left: 32px;
      bottom: 12px;
    };

    &__ice-cream {
      padding-left: 0;
      right: 100px; 
    };
  };
};

@media screen and (min-width: 1200px) {
  .hero {
    min-height: 563px;
    padding-top: 37px;

    &__title {
      max-width: 367px;
      min-height: 144px;
      margin-bottom: 28px;
      @include font(500, 38px, 48px, 0.04em);

      & > span {
        @include font(500, 38px, 48px, 0.04em);
      };
    };
  };

  .hero-bg {
    width: 1200px;

    &__plate {
      position: absolute;
      left: 16px;
      bottom: 65px;
    };

    &__ice-cream {      
      right: 92px;
    };
  };
};

// зупинився тут; треба додати на планшетну версію блок description & statistics
// зробити адаптивну верстку після 480px (див. закоментований код в файлі _container.scss) 