.hero {  
  position: relative;
  min-height: 440px;
  padding-top: 38px;
  padding-bottom: 0;

  background-color: var(--bg-color-primary);  
  background-repeat: no-repeat;
  background-position: bottom;

  &__title {
    max-width: 247px;
    min-height: 97px;
    margin-bottom: 32px;

    font-family: var(--font-family-heading);
    @include font(500, 26px, 31px, 0.04em);
    color: var(--color-text-white);
    text-transform: uppercase;

    & > span {
      @include font(500, 34px, 33px, 0em);
    };
  };
};

.hero-bg {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 320px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;

  &__dots,
  &__ice-cream {
    position: absolute;    
    bottom: 0;    
  };

  &__ice-cream {
    padding-left: 20px;    
  };
};

@media screen and (max-width: 767px) {
  .hero-bg__plate,
  .stats,
  .description {
    display: none;
  };
};

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {    
    min-height: 343px;
    padding-top: 28px;
  };  

  .hero-bg {
    width: 480px;
    justify-content: right;

    &__ice-cream {
      padding-left: 0;   
      right: 20px; 
    };
  };  
};

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hero {
    min-height: 336px;
    padding-top: 0;

    &__title {
      margin-bottom: 24px;
    };

    &__container {
      position: relative;
    };
  };

  .hero-bg {
    width: 768px;

    &__plate {
      position: absolute;
      left: 32px;
      bottom: 12px;
    };

    &__ice-cream {
      padding-left: 0;
      right: 100px; 
    };
  };

  .stats {
    position: absolute;
    top: 14px;
    right: 32px;
    text-align: right;  
    
    &__item:first-child {
      margin-bottom: 20px;
    };

    &__item-value {
      @include font(900, 28px, 34px, 0.04em);
      margin-bottom: 4px;
    };

    &__item-caption {
      @include font(400, 8px, 10px, 0em);
      color: var(--color-text-white);
    };
  };

  .description {
    width: 165px;
    min-height: 70px;
    margin-top: 40px;
    margin-left: 185px;    

    &__text {
      margin-bottom: 29px;
      @include font(400, 11px, 16px, 0em);
      color: var(--color-text-white);
    };

    &__icon {
      fill: var(--color-text-white);
      transition: transform var(--duration) var(--timing-function);

      &:hover,
      &:focus {
        transform: scale(1.2);
      };
    };
  };
};

@media screen and (min-width: 1200px) {
  .hero {
    min-height: 563px;
    padding-top: 37px;

    &__title {
      max-width: 367px;
      min-height: 144px;
      margin-bottom: 28px;
      @include font(500, 38px, 48px, 0.04em);

      & > span {
        @include font(500, 38px, 48px, 0.04em);
      };
    };

    &__container {
      position: relative;
    };
  };

  .hero-bg {
    width: 1200px;

    &__plate {
      position: absolute;
      left: 16px;
      bottom: 65px;
    };

    &__ice-cream {      
      right: 92px;
    };
  };

  .stats {
    position: absolute;
    top: 0;
    right: 16px;
    text-align: right;  
    
    &__item:first-child {
      margin-bottom: 16px;
    };

    &__item-value {
      @include font(900, 46px, 56px, 0.04em);
      margin-bottom: 4px;
    };

    &__item-caption {
      @include font(400, 14px, 17px, 0em);
      color: var(--color-text-white);
    };
  };

  .description {
    width: 215px;
    min-height: 80px;
    margin-top: 100px;
    margin-left: 240px;    

    &__text {
      margin-bottom: 24px;
      @include font(400, 14px, 20px, 0em);
      color: var(--color-text-white);
    };

    &__icon {
      fill: var(--color-text-white);
    };
  };
};